html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

.main {
    height: 100%;
    position: fixed;
    top: 0;
    left: 160px; /* margin-left: 160px; Same as the width of the sidebar */
}

.half {
    height: 100%;
    width: 50%;
}

.left {
    border-right: solid;
    border-color: #e9e9e9;
}

.image {
    position: absolute; /* position will be calculated*/
    border: ridge;
    border-color: rgb(226, 226, 226);
}

.deleteButton {
    position: fixed;
    top: 20px;
    right: 8px;
    display: none;
    
    border: none;
    outline: none;
    cursor: pointer;
}