/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll)
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    padding-top: 20px;
}
  
/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    /* text-decoration: none; */
    font-size: 25px;
    color: #818181;
    display: block;
    cursor: pointer;
}
.sidenav button {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Add a color to the active/current link */
.sidenav a.active {
    background-color: teal;
    color: white;
    cursor: text;
  }