/* tab (dark themed) and tab1 (light themed) styles are different! */
.tab {
    /* border: 1px solid #ccc; */
    background-color: #111;
    height: 44px;
  }
  
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    color: #818181;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 14px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    color: #f1f1f1;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: teal;
    color: white;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


/* TAB1 Style */
.tab1 {
    /* border: 1px solid #ccc; */
    background-color: #f1f1f1;
    height: 34px;
  }
  
/* Style the buttons that are used to open the tab content */
.tab1 button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 14px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab1 button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab1 button.active {
    background-color: #ccc;
}
